
<div class="hive-logo">
  <svg width="180" height="180" viewBox="0 0 200 200" aria-label="IT Hive Logo">
    <g transform="translate(100,100)">

      <!-- Center -->
      <polygon class="hex" points="0,-30 26,-15 26,15 0,30 -26,15 -26,-15" />
      <polygon class="hex-inner" points="0,-24 21,-12 21,12 0,24 -21,12 -21,-12" />

      <!-- Surrounding -->
      <polygon class="hex" points="0,-70 26,-55 26,-25 0,-10 -26,-25 -26,-55" />
      <polygon class="hex" points="52,-40 78,-25 78,5 52,20 26,5 26,-25" />
      <polygon class="hex" points="52,40 78,55 78,85 52,100 26,85 26,55" transform="scale(0.7)" />
      <polygon class="hex" points="0,70 26,85 26,115 0,130 -26,115 -26,85" transform="scale(0.7)" />
      <polygon class="hex" points="-52,40 -26,55 -26,85 -52,100 -78,85 -78,55" transform="scale(0.7)" />
      <polygon class="hex" points="-52,-40 -26,-25 -26,5 -52,20 -78,5 -78,-25" />
    </g>
  </svg>
</div>
